/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* consideriamo i limiti per le mediaquery
xs sotto i 576px - s 577px_768px - md 769px_991px - lg oltre 992px */



#pagina {
  display: flex;
  /* background-color: red; */
  height: 100vh;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  color: grey;
}

.white {
  color: white;
}

.flex {
  display: flex;
}

/* macrostruttura 1/2 */
#parteprincipale {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: green;
  display: flex;

}

/* inizia l'interno di parte parteprincipale */
#menulaterale {
  padding: 20px;
  width: 200px;
  /* height: 100%; */
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

/* colore bianco e barretta a lato verde */
#menulaterale a:hover {
  color: white;
}

#menulaterale a {
  text-decoration: none;
  color: inherit;
  /* text-align: center; */
}

#menulaterale ul {
  list-style-type: none;
}

/* roba dentro al menulaterale */
#logobig {
  width: 150px;
  height: auto;
}



#home img {
  width: 24px;
  height: 24px;
}


#home li:hover {
  border-left: green solid 2px;
}


#playlist i {
  font-size: 40px;
}

#installaapp {
  align-self: flex-end;
  width: 100%;
}

#installa {
  border-bottom: 1px solid grey;
}


#profilo a img {
  width: 30px;
  height: 30px;
  background-color: grey;
  color: white;
  border-radius: 50%;
}

/* devo toccare il menulaterale, ma se tocco solo lui devo sistemare il resto dei contenitori che se no lasciano un pezzo vuoto a destra */
@media all and (max-width: 576px) {
  #logobig {
    display: none;
  }

  #menulaterale span {
    display: none;
  }

  #playlist {
    display: none;
  }

  #installa {
    border-bottom: none;
  }

  #menulaterale {
    justify-content: center;
  }

  #logosmall {
    width: 50px;
    height: auto;
  }



}

@media all and (min-width: 577px) {
  #logosmall {
    display: none;

  }

  


}








/* fine roba dentro il menu laterale */

#sezionecentrale {
  background-color: #080B12;
  /* height: 100%; */
  width: calc(100vw - 200px);
  /* display: flex;
  flex-wrap: wrap; */

}

/* inizia interno sezionecentrale */

#upgradebar{
  background-color: rgba(8, 11, 18, 0.8);
  /* trasparenza colore di sfondo blocco */
  /* ok la trasparenza non la vedo perchè forse il bloccco sotto finische li e non continua sotto upgrade */
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* position: fixed; */
  z-index: 11;

}

#buttonupgrade {
  background-color: #080B12;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 1vw;
}

.boombutton { transition: all .2s ease-in-out; }
.boombutton:hover { transform: scale(1.1); }
#buttonupgrade a {
  text-decoration: none;
  color: white;
}



#paginonaplaylist {
  background-color: #141922;
  max-height: 100%;
  /* word-wrap:break-word;
  overflow: hidden; */
  /* width: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */

  overflow: scroll;
}

#menumusica {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;


}
/* inizio cose dentro la paginonaplaylist/main */
#menumusica a {
  color: grey;
  text-decoration: none;
  margin: 15px;
  height: 20px;
  /* background-color: red; */
}

#menumusica a:hover {
  border-bottom: green solid 2px;
}


#recently {
  max-height: 100%;
}

#creato {
  max-height: 100%;
}

#artistipopolari {
  max-height: 100%;
  margin-bottom: 10%;
}

#artistipopolari img {
  border-radius: 50%;
}

.rigonaalbum {
  flex-wrap: wrap;
  /* flex-shrink: 1; */
  /* text-align: center; */
  justify-content: flex-start;
  /* flex-grow: 1; */
}

.rigonaalbum img{
  max-width: 100%
  height: auto;
  /* flex-shrink: 1; */
}
.singoloalbum {
  width: calc(100% / 6);
  padding: 0 10px;
  margin-top: 20px;
  text-align: center;
}



.imgeicona{
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.imgeicona .far.fa-play-circle {
  position: absolute;
  font-size: 50px;
  display: none;
}

.singoloalbum:hover .far.fa-play-circle {
  display: block;
}

.singoloalbum:hover img {
  filter: brightness(0.2);
}


#paginonaplaylist a {
  text-decoration: none;
  color: inherit;
}


@media all and (min-width: 769px) and (max-width: 991px) {
  .singoloalbum {
    width: 25%;
  }
}

@media all and (max-width: 768px) {
  .singoloalbum {
    width: 50%;
  }
}



/* fine sezionecentrale */
/* fine .parteprincipale */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* macrostruttura 2/2 */
#musicplayer {
  width: 100%;
  height: 100px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  flex-wrap: nowrap;
}

#musicplayer a {
  color: grey;
  text-decoration: none;
}

#musicplayer a:hover {
  color: white;
}

/* 3 div dentro a musicplayer */
#canzone{
  height: 100px;
  width: 250px;
  /* background-color: red; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

#canzone img {
  height: 50px;
  min-width: auto;
}

#canzone i {
  font-size: 20px;
  padding: 5px;
}



#comandi {
  height: 100px;
  min-width: 350px;
  /* background-color: blue; */
  text-align: center;
}

#playetc {
  width: 70%;
  margin: 0 auto;
  height: 50px;
  /* width: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
}

#playetc i{
  font-size: 20px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}
#play {
  font-size: 25px !important;
}
#play:hover {
  font-size: 35px !important;
}

#playetc i:hover {
  font-size: 30px;
  cursor: pointer;
}

#containerbar {
  height: 50px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  position: relative;

}

#containerbar i {
  position: absolute;
  color: white;
  left: 115px;
  bottom: 15px;
  display: none;
}

#bigbar:hover + .fa-circle {
  display: block;
}


#bigbar {
  background-color: grey;
  border-left: 50px solid white;
  height: 5px;
  width: 200px;
  border-radius: 5px;

  margin-right: 10px;
  margin-left: 10px;
}

#bigbar:hover {
  border-left-color: lightgreen;
  cursor: pointer;
}



#volume{
  height: 100px;
  min-width: 200px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  position: relative;
}

#smallbar {
  background-color: grey;
  border-left: 30px solid white;
  height: 5px;
  width: 100px;
  border-radius: 5px;
  position: relative;
}

#smallbar:hover {
  border-left-color: lightgreen;
  cursor: pointer;
}

#volume .fa-circle {
  position: absolute;
  color: white;
  left: 115px;
  bottom: 40px;
  display: none;
}

#smallbar:hover + .fa-circle {
  display: block;
}
